[submodule "EventManager"]
	path = EventManager
	url = https://daitangio@github.com/daitangio/arduino-EventManager
[submodule "Webduino"]
	path = Webduino
	url = https://daitangio@github.com/daitangio/Webduino
[submodule "src/libraries/Webduino"]
	path = src/libraries/Webduino
	url = https://daitangio@github.com/daitangio/Webduino
